{%- extends "base.html" %}

{%- block seo -%}
  {{- super() }}

  {%- set title = config.title %}
  {%- if config.description %}
    {%- set title_addition = title_separator ~ config.description %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {{- macros::seo(title=title, title_addition=title_addition, description=config.description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<article class="page">
  <div class="entry">
    {{ section.content | safe }}
  </div>
</article>
{%- endblock %}
